# common settings
.cache/
.vs/
bin/
etc/
ipch/
node_modules/
obj/
typedoc/
*.csproj.user
*.vcxproj.user

# current directory
!/bin/
/dist/
/reports/
/.scannerwork/
sonar-project.properties
*.VC.db
*.VC.VC.opendb
